<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculate VAT</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <form method="post" action="/">
        <h2>Calculate VAT</h2>

        <label for="item-name">Item name</label>
        <input type="text" name="name" id="item-name">

        <label for="item-price">Item price</label>
        <input type="text" name="price" id="item-price">

        <label for="item-amount">Item amount</label>
        <input type="number" min="1" name="amount" id="item-amount">

        <button type="submit">Calculate</button>
    </form>
</body>
</html>